.right-arrow-top-0:before {
    content: '';
    position: absolute;
    top: -18px;
    left: 110px;
    height: 1px;
    width: 120px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  .right-arrow-top-0:after {
    content: '';
    position: absolute;
    top: -18px;
    right: -90px;
    height: 100px;
    width: 1px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  .right-arrow-bottom-0:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 110px;
    height: 1px;
    width: 120px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  
  .right-arrow-bottom-0:after {
    content: '';
    position: absolute;
    top: -36px;
    right: -90px;
    height: 32px;
    width: 1px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }


  .right-arrow-top-0.arrow-0{
    position: relative;
    padding: 10px;
    top: 200px;
    left: 826px
  }

  .right-arrow-bottom-0.arrow-0{
    position: relative;
    padding: 10px;
    top: 344px;
    left: 806px;
  }


  .right-arrow-top-0.arrow-1{
    position: relative;
    padding: 10px;
    top: 410px;
    left: 786px;
  }

  .right-arrow-bottom-0.arrow-1{
    position: relative;
    padding: 10px;
    top: 554px;
    left: 766px;
  }

  .right-arrow-top-0.arrow-2{
    position: relative;
    padding: 10px;
    top: 620px;
    left: 746px;
  }

  .right-arrow-bottom-0.arrow-2{
    position: relative;
    padding: 10px;
    top: 762px;
    left: 726px;
  }

  .right-arrow-top-0.arrow-3{
    position: relative;
    padding: 10px;
    top: 830px;
    left: 706px;
  }

  .right-arrow-bottom-0.arrow-3{
    position: relative;
    padding: 10px;
    top: 974px;
    left: 686px;
  }


  .right-arrow-top-1:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 110px;
    height: 1px;
    width: 120px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  .right-arrow-top-1:after {
    content: '';
    position: absolute;
    top: -10px;
    right: -90px;
    height: 100px;
    width: 1px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  .right-arrow-bottom-1:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 110px;
    height: 1px;
    width: 120px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  
  .right-arrow-bottom-1:after {
    content: '';
    position: absolute;
    top: -84px;
    right: -90px;
    height: 80px;
    width: 1px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  
  .right-arrow-top-1.arrow-0{
    position: relative;
    padding: 10px;
    top: 246px;
    left: 704px;
  }

  .right-arrow-bottom-1.arrow-0{
    position: relative;
    padding: 10px;
    top: 502px;
    left: 684px;
  }

  .right-arrow-top-1.arrow-1{
    position: relative;
    padding: 10px;
    top: 664px;
    left: 664px;
  }

  .right-arrow-bottom-1.arrow-1{
    position: relative;
    padding: 10px;
    top: 924px;
    left: 644px;
  }

  .right-arrow-top-2:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 110px;
    height: 1px;
    width: 120px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  .right-arrow-top-2:after {
    content: '';
    position: absolute;
    top: -10px;
    right: -90px;
    height: 202px;
    width: 1px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  .right-arrow-bottom-2:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 110px;
    height: 1px;
    width: 120px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  
  .right-arrow-bottom-2:after {
    content: '';
    position: absolute;
    top: -204px;
    right: -90px;
    height: 200px;
    width: 1px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  
  .right-arrow-top-2.arrow-0{
    position: relative;
    padding: 10px;
    top: 358px;
    right: -542px;
  }

  .right-arrow-bottom-2.arrow-0{
    position: relative;
    padding: 10px;
    top: 824px;
    left: 522px;
  }


  .right-arrow-bottom-3:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -10px;
    height: 350px;
    width: 1px;
    background: #00f;
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }
  
  .right-arrow-bottom-3.arrow-0{
    position: relative;
    padding: 10px;
    top: 630px;
    left: 582px;
  }